/*GENERAL*/
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 17px;
  background-color: #FFFF;

}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button:focus {
  outline: 0;
}

li {
  padding-top: 1.125rem;
}

.container {
  width: 100%;
}