
/*VARIABLES*/
$color-primary:#579c87;
$text-color-primary:#fdcb46;
$color-menu1:#fcdfdb;
$color-menu2:#fff5fe;
$color-menu3:#f9f9f9;
$color-menu4:#fdfffd;
$color-title-menu1: #3c1218;
$color-title-menu2:#c77412;
$color-title-menu3: #0887fb;
$color-title-menu4:#5eae4b;

